* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Montserrat', sans-serif;
   color: white;
   font-size: 14px;
}


.flex-container {
   background-color: yellow;
   width: 100%;
   height: calc(100vh - 90px);
   display: flex;
}

.side-nav-bar {
   background: #121212;
   width: 50px;
   height: 100%;
   padding: 24px;
}


.logo-container img {
   width: 131px;
}




.main-content {
   background: #141922;
   height: 100%;
   width: calc(100% - 50px);
   overflow: auto;
   position: relative;
}

.top-layover {
   position: sticky;
   top: 0;
   right: 0;
   height: 100px;
   width: 100%;
   background-color: #080B12;
   opacity: 0.9;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 10px;
   z-index: 3;
}

.btn-round {
   text-decoration: none;
   color: inherit;
   border: 1px solid white;
   padding: 15px 50px;
   text-transform: uppercase;
   border-radius: 50px;
}

.btn-round:hover {
   padding: 20px 60px;
   text-decoration: none;
   color: inherit;
}




.nav-bar {
   padding: 0 10px;
   list-style: none;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.nav-bar li {
   padding: 20px 10px;
}
.nav-bar li a {
   text-decoration: none;
   color: #b0b0af;
   text-transform: uppercase;
}

.nav-bar li:first-child a {
   border-bottom: 2px solid #81BA3D;
}


.nav-bar li a:hover {
   color: white;
}





.section-container {
   padding: 0 20px;
}

.section-title,
.section-subtitle {
   margin-bottom: 20px;
}

.section-subtitle,
.img-subtitle {
   color: #b0b0af;
}

.card-container {
   margin-bottom: 15px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.img-container img {
   width: 100%;
   margin-bottom: 15px;
}

.img-container--circle img {
   border-radius: 100%;
}

.img-container {
   position: relative;
}



.img-layover {
   display: none;
   background-color: rgba(0, 0, 0, 0.7);
}

.img-container:hover .img-layover {
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.img-container a {
   text-decoration: none;
   color: inherit;
   font-size: 60px;
}



footer {
   width: 100%;
   height: 90px;
   background-color: #282828;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.display-song {
   display: flex;
   align-items: center;
}
.display-song img {
   height: 50px;
   margin: 10px;
}

.display-song__text h6 {
   margin-bottom: 0;
}
.display-song__text p {
   font-size: 10px;
   color: #b0b0af;
}

.display-song__icons {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
}
.display-song__icons i {
   padding: 5px;
   color: #b0b0af;
}
.display-song__icons i:hover {
   color: white;
}

.display-player {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   width: 70%;
}

.player-container {
   width: 100%;
   text-align: center;
}

#current-time,
#end-time {
   font-size: 10px;
}

.display-player__slider {
   width: 60%;
   height: 3px;
   display: inline-block;
   margin: 0 20px;
}

.display-player__icons {
   width: 100%;
   text-align: center;
}
.display-player__icons i {
   padding: 0 5px;
}

.display-volume {
   display: flex;
   align-items: center;
   padding: 10px;
}

.display-volume i {
   color: white;
   padding: 5px;
}


.display-volume__slider {
   width: 100px;
   height: 3px;
}

.slider {
   background-color: #b0b0af;
   border-radius: 5px;
   position: relative;
   cursor: pointer;
}



.display-slider-over {
   width: 10%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   background-color: white;
   border-radius: 5px;
}





.display-slider:hover .display-slider-over {
   background-color: #81BA3D;
}


/* small */
@media screen and (min-width: 576px) {

   .main-content {
      width: calc(100% - 232px);
   }

   .side-nav-bar {
      width: 232px;
   }
}

/* medium */
@media screen and (min-width: 768px) {

   .display-song__icons {
      flex-direction: row;
      margin-left: 30px;
   }
}

/* large */
@media screen and (min-width: 992px) {

   .card-container {
      max-width: 300px;
   }
}

/* extra-large */
@media screen and (min-width: 1200px) {  }
